/* Общие */

@font-face {
  font-family: ProductSans;
  src: url(ProductSans-Medium.ttf);
  font-weight: 400;
}

:root {
  --white: rgb(255, 255, 255);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --azure: #1AD9FF;
  --black: rgb(0, 0, 0);
  --red: rgb(255, 83, 26);
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: ProductSans, sans-serif;
  background: var(--black);
  color: var(--white-90);
  font-size: 20px;
  line-height: 24px;
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  user-select: none;
}

.hide {
  display: none !important;
}

/* Хедер */

header {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 56px;

  display: flex;
  align-items: center;

  background:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
header > * {
  height: 100%;
}

.header__elem {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.status {
  flex: 1 1 100%;
  font-variant-numeric: tabular-nums;
}
.status > * {
  margin-bottom: 12px;
}
.status > *:first-child {
  margin-right: 32px;
}

.caption {
  font-size: 12px;
  line-height: 16px;
}

/* Кнопки */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 16px;
  padding: 8px 12px;
}

.btn_l {
  padding: 12px 16px;
  font-size: 20px;
}

.btn_bordered {
  border: 1px solid var(--white-80);
  background: var(--black);
}
.btn_bordered:hover, .btn_bordered:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) rgb(0, 0, 0);
}
.btn_bordered:active, .btn_icon:active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)) rgb(0, 0, 0);
}

.btn_filled {
  background: var(--white-90);
  color: var(--black);
}
.btn_filled:hover, .btn_filled:focus {
  background: var(--red);
}
.btn_filled:active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), var(--red);
}

.btn_narrow {
  justify-self: flex-start;
}

.btn_icon {
  padding: 8px;
  margin: -8px;
  border-radius: 50%;
}

.btn_footer {
  flex: 1 1 100%;
}
.btn_footer:not(:last-child) {
  margin-right: 8px;
}

/* Поле */

.field-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  z-index: 10;
  position: absolute;
  left: calc(50% - 256px);
  top: calc(50% - 256px);
  width: 0px;
  border: none;
}

.row {
  display: flex;
}

.cell-wrapper {
  box-sizing: border-box;
  width: 32px;
  height: 32px;

  display: flex;
}

.cell {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--black);
}
.cell_o {
  background: var(--white-80);
  color: var(--black);
}
.cell_f {
  color: var(--red);
  transition: transform 0.5s ease-in-out;
  transform: scale(1) translate(0px, 0px);
}
.mark-animation.cell_f::before {
  transform: scale(2) translate(0px, -24px);
}
.cell_m {
  background: var(--red);
  color: var(--black);
}

/* Приветствие */

.welcome-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 456px;
  padding: 8px;
  box-sizing: border-box;
  /* align-items: flex-start; */
}

h1 {
  font-size: 48px;
  line-height: 44px;
  margin: 0;
}

.sub-header {
  margin: 8px 0 16px;
  color:rgba(255, 255, 255, 0.5);
}

.desc {
  margin: 0 0 24px;
}

.desc__block:not(:last-child) {
  margin-bottom: 8px;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--white-80);
}

.welcome__link {
  margin: 16px 0;
  align-self: flex-start;
}

/* Конченый экран */

.endscreen__place {
  font-size: 48px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 32px;
}

/* рекорды */

.stat-col > *:not(:first-child) {
  font-size: 16px;
}
.stat-col > *:nth-child(1) {color:rgba(255, 255, 255, 0.5)}
.stat-col > *:nth-child(2) {color:rgba(255, 255, 255, 1)}
.stat-col > *:nth-child(3) {color:rgba(255, 255, 255, 0.9)}
.stat-col > *:nth-child(4) {color:rgba(255, 255, 255, 0.8)}
.stat-col > *:nth-child(5) {color:rgba(255, 255, 255, 0.7)}
.stat-col > *:nth-child(6) {color:rgba(255, 255, 255, 0.6)}
.stat-col > *:nth-child(7) {color:rgba(255, 255, 255, 0.5)}
.stat-col > *:nth-child(8) {color:rgba(255, 255, 255, 0.4)}
.stat-col > *:nth-child(9) {color:rgba(255, 255, 255, 0.3)}

.leaderboard .caption {
  color:rgba(255, 255, 255, 0.5);
}

/* Стата */

.stat-row {
  display: flex;
  justify-content: space-between;
}

.stat-group, .stat-col {
  display: flex;
  flex-direction: column;
}

.stat-col > *:not(:last-child) {
  margin-bottom: 16px;
}

/* Модалки */

.modal {
  z-index: 40;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;

  background:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modal__close {
  margin-right: -10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 360px;

  background: linear-gradient(135deg, rgb(25, 25, 25) 0%, rgb(0, 0, 0) 100%);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}
.card > * {
  padding: 16px;
  box-sizing: border-box;
}

.card__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card__footer {
  display: flex;
}

.show-result {
  z-index: 20;
  position: fixed;
  bottom: 16px;
  right: 16px;
}